.App {
  text-align: center;
  background-color: black;
}


form {
  margin-left: 25%;
  margin-right:25%;
  width: 50%;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}
